.xans-order-basketpackage .xans-order-empty { text-align: center; }

.xans-order-list td { padding: 20px 0; }
.xans-order-list .product { vertical-align: top; }
.xans-order-list .product p { padding: 10px 0 20px; font-size: 14px; }
.xans-order-list .product .option { font-size: 12px; color: #d6254a; }
.xans-order-list .thumb { width: 120px; word-break: break-all; }
.xans-order-list .thumb img { width: 100px; }
.xans-order-list .remove img { width: 18px; position: absolute; right: 28px; }
.xans-order-list .quantity { padding-top: 70px; }
.xans-order-list .quantity div { position: absolute; }

.xans-order-totalsummary { padding-top: 30px; padding-bottom: 150px; }
.xans-order-totalsummary th { padding: 5px 0; }
.xans-order-totalsummary th p { color: #7f7f7f; }
.xans-order-totalsummary td { text-align: right; padding: 5px 0; }
.xans-order-totalsummary tfoot th, .xans-order-totalsummary tfoot td { border-top: 1px solid #ccc; padding: 20px 0; }
.xans-order-totalorder { margin-bottom: 30px; }


@media screen and (max-width: 768px) {
    .xans-order-basketpackage { margin-top: 50px; }

    .xans-order-totalorder { margin-bottom: 0; }
    .xans-order-totalsummary { display: flex; flex-direction: column; padding: 30px 0 0; }
    .moreInfo { order: 1; padding: 0 15px; }
    .totalWrap { order: 2; margin-top: 50px; padding: 15px; background-color: #f0f0f0; }
    .xans-order-totalorder { order: 3; }
}
