.xans-order-form .selectLabel { padding: 10px 0; }
.xans-order-form .selectLabel label { display: inline !important; margin-right: 5px; }
.xans-order-form .form-group .btnGray { top: 3px; left: 5px; }

.xans-order-form .tableWrap { padding: 8px 0; }
.xans-order-form .tableWrap tr { border-bottom: 0; }
.xans-order-form .tableWrap tr .product { width: 50%; vertical-align: top; }
.xans-order-form .tableWrap tr td { padding: 8px 0; }
.xans-order-form .tableWrap tr .option { padding-top: 5px; }
.xans-order-form .tableWrap tr .thumb { text-align: left; }
.xans-order-form .tableWrap tr .thumb img { width: 80px; }

.noMember { margin: 30px 0; }
.agreeArea .agreeWrap { margin-top: 20px; }
.agreeArea .agreeWrap:last-child { margin-top: 10px; padding-bottom: 15px; }
.agreeArea .agreeWrap h5 { padding-bottom: 10px; }
.agreeArea .agreeWrap .content { overflow:auto; height:160px; padding:20px; border:1px solid #d6d6d6; border-radius: 0; }
.agreeArea .agreeWrap .content textarea { border: 0; width: 100%; height: 100%; line-height: 1.8; }
.agreeArea .agreeWrap .check { text-align: right; padding-top: 5px; }
.agreeArea .agreeWrap .check span { color: #7f7f7f; padding-right: 10px; }
.agreeArea .agreeWrap .check label { font-size: 14px; padding-left: 5px; font-weight: 500; }
.agreeArea .agreeWrap .check input[type=radio] { display: inline !important; margin-left: 10px; }

input[type=checkbox], input[type=radio] { display: none !important; }

.xans-order-form #rname,
.xans-order-form #oname { width:64%; }
.xans-order-form #raddr1,
.xans-order-form #raddr2 { width:64%; margin-top: 10px; }
.xans-order-form #rzipcode1 { width: 128px; }
.xans-order-form #ophone2_1,
.xans-order-form #rphone2_1 { width: calc(20% - 30px); margin-right: 5px; }
.xans-order-form #ophone2_2,
.xans-order-form #rphone2_2 { width: 22%; margin: 0 5px; }
.xans-order-form #ophone2_3,
.xans-order-form #rphone2_3 { width: 22%; margin: 0; margin-left: 5px; }
.xans-order-form #oemail1 { width: calc(34% - 23px); margin: 0; margin-right: 5px; }
.xans-order-form #oemail2 { width: 30%; margin: 0 5px; }
.xans-order-form #oemail3 { width: 20%; margin: 0; margin-left: 5px; }
.xans-order-form #omessage { width: 64%; height: 128px; padding: 10px; border:1px solid #d6d6d6; }

#allat_account_nm, #pname, #bankaccount { width: 64%; }
#chk_purchase_agreement { padding: 10px 0; }
#chk_purchase_agreement label { font-size: 14px; font-weight: 500; color: #333; }
#chk_purchase_agreement0 { width: 18px; height: 18px; float: right; display: inline-block !important; margin-top: 3px; }
.payHelp p { margin-top: 5px; font-size: 12px; color: #7f7f7f; }

.xans-order-totalsummary { padding-top: 30px; padding-bottom: 150px; }
.xans-order-totalsummary th { padding: 5px 0; }
.xans-order-totalsummary th p { color: #7f7f7f; }
.xans-order-totalsummary td { text-align: right; padding: 5px 0; }
.xans-order-totalsummary tfoot th,
.xans-order-totalsummary tfoot td { border-top: 1px solid #ccc; padding: 20px 0; }
.xans-order-totalorder { margin-bottom: 30px; }


@media screen and (max-width: 768px) {
    .xans-order-form .form-group .btnGray { top: 2px; }
    .xans-order-form .p45 { padding: 0; }
    .xans-order-form .tableWrap { padding: 5px 0; }
    .xans-order-form .tableWrap tr td { padding: 5px 0; }

    .noMember { margin: 15px 0; }
    .agreeArea .agreeWrap .check span { display: block; padding: 0; }

    .xans-order-form #rname,
    .xans-order-form #oname { width:100%; }
    .xans-order-form #raddr1,
    .xans-order-form #raddr2 { width:100%; }
    .xans-order-form #rzipcode1 { width: 80px; }
    .xans-order-form #ophone2_1,
    .xans-order-form #rphone2_1 { width: calc(34% - 30px); }
    .xans-order-form #ophone2_2,
    .xans-order-form #rphone2_2 { width: 33%; }
    .xans-order-form #ophone2_3,
    .xans-order-form #rphone2_3 { width: 33%; }
    .xans-order-form #oemail1 { width: calc(40% - 34px); }
    .xans-order-form #oemail2 { width: 30%; }
    .xans-order-form #oemail3 { width: 30%; }
    .xans-order-form #omessage { width: 100%; height: 80px; }

    #allat_account_nm, #pname, #bankaccount { width: 100%; }
    .method { padding-top: 10px; }

    .xans-order-totalsummary h6 { font-size: 14px; }
    .xans-order-totalsummary h6 span { font-size: 14px; padding-top: 10px; }
}

@media screen and (max-width: 321px) {
    .xans-order-form .selectLabel a,
    .xans-order-form .selectLabel label { font-size: 10px !important; }
}
