.under19Recommend { text-align: center; }
.under19Recommend img { max-width: 100%; padding: 8px 32px; }
.under19Recommend p { text-align: center; }
p { word-break: keep-all; }

@media screen and (max-width: 768px) {
    .xans-member-adulthead .titleWrap { margin-top: 0; }
    #mobileauth p { text-align: center; padding-bottom: 30px; }
    .under19Recommend .icon19 { width: 64%; }
}
