.xans-member-edit .tableWrap th { width: 25%; }
.xans-member-edit .tableWrap td { width: 75%; }
.xans-member-edit .tableWrap label { position: relative; top: 2px; left: 6px; }

.xans-member-edit #postcode1,
.xans-member-edit #postcode2 { width:80px; text-align:center; }
.xans-member-edit #addr1,
.xans-member-edit #addr2 { width:280px; margin:10px 0 0; }
.xans-member-edit #phone1,
.xans-member-edit #mobile1 { width:80px; margin:0 5px 0 0; }
.xans-member-edit #phone2,
.xans-member-edit #phone3,
.xans-member-edit #mobile2,
.xans-member-edit #mobile3 { width:80px;   margin: 0 8px; }
.xans-member-edit #email1 { margin-right: 5px; width: 128px; }
.xans-member-edit #email2 { margin:0 5px; width: 128px;}
.xans-member-edit #email3 { margin-left: 5px; width: 128px; }

@media screen and (max-width: 768px) {
    .xans-member-edit .tableWrap input { width: 100%; }
    .xans-member-edit .typeWrite { padding: 5px; }
    .xans-member-edit .typeWrite table { font-size: 12px; }
    .xans-member-edit .typeWrite tr { border-bottom: 1px solid rgba(0,0,0,.1); }
    .xans-member-edit .typeWrite tr:last-child { border-bottom: none; }
    .xans-member-edit .typeWrite td { padding: 10px 0; }
    .xans-member-edit .typeWrite .phoneTd { color: #fff; }
    .xans-member-edit .typeWrite .ess { display: none; }
    .xans-member-edit .typeWrite input { height: 42px; width: 100%; }
    .xans-member-edit .agreeArea .check { padding-right: 0.5%; }
    .xans-member-edit .btnArea a { margin: 0; } 
    
    .xans-member-edit #postcode1,
    .xans-member-edit #postcode2 { width: 50%; }
    .xans-member-edit #addr1,
    .xans-member-edit #addr2 { width: 100%; }
    .xans-member-edit #phone1,
    .xans-member-edit #mobile1 { width: 100%; margin-bottom: 5px; color: #333; }
    .xans-member-edit #phone2,
    .xans-member-edit #phone3,
    .xans-member-edit #mobile2,
    .xans-member-edit #mobile3 { width: 100%; margin: 5px 0; color: #333; }
    .xans-member-edit #email1 { width: 100%; }
    .xans-member-edit #email2,
    .xans-member-edit #email3 { width: 100%;  margin: 5px 0; }
}