.form-group .btnGray { top: 3px; left: 5px; }
.xans-member-edit #postcode1,
.xans-member-edit #postcode2 { width: 128px; text-align: center; }
.xans-member-edit #addr1,
.xans-member-edit #addr2 { margin: 10px 0 0; }
.xans-member-edit #phone1,
.xans-member-edit #mobile1 { width: calc(20% - 30px); margin:0 5px 0 0; }
.xans-member-edit #phone2,
.xans-member-edit #phone3,
.xans-member-edit #mobile2,
.xans-member-edit #mobile3 { width: 22%; margin:0 5px; text-align: center; }
.xans-member-edit #mobile3 { margin-right: 0px; }
.xans-member-edit #email1 { width: calc(32% - 23px); margin-right: 5px;  }
.xans-member-edit #email2 { width: 32%; margin:0 5px; }
.xans-member-edit #email3 { width: 25%; margin-left: 5px; }

@media screen and (max-width: 768px) {
    .xans-member-edit .formWrap { margin-top: 20px; }
    .xans-member-edit .form-group label { font-size: 12px; color: #333; }
    .xans-member-edit .form-group input { width: 100%; height: 36px; font-size: 12px; }
    .xans-member-edit .form-group select { height: 36px; }
    .xans-member-edit .form-group span { font-size: 11px; }
    .xans-member-edit .form-group .btnGray { top: 2px; }

    .xans-member-edit #postcode1,
    .xans-member-edit #postcode2 { width: 32%; }
    .xans-member-edit #addr1,
    .xans-member-edit #addr2 { width: 100%; }
    .xans-member-edit #phone1,
    .xans-member-edit #mobile1 { width: calc(34% - 30px); margin-bottom: 0px; color: #333; }
    .xans-member-edit #phone2,
    .xans-member-edit #phone3,
    .xans-member-edit #mobile2,
    .xans-member-edit #mobile3 { width: 33%; }
    .xans-member-edit #email1 { width: calc(40% - 34px); }
    .xans-member-edit #email2,
    .xans-member-edit #email3 { width: 30%; }
    .xans-member-join #email3 { margin-left: 5px; }
}
