.container .titleWrap { padding-bottom: 15px; }

.memberInfo { border-top: 2px solid #d6254a; border-bottom: 2px solid rgba(0,0,0,.2); padding: 30px 0; }
.memberInfo .check label { display: inline; }
.memberInfo .check label span { font-size: 14px; font-weight: 500; color: #333; }
.memberInfo input[type=radio],
.memberInfo input[type=checkbox] { margin: -2px 5px 0 20px; width: 16px; height: 16px; border-radius: 5px; }

.memberInfo #mobile1 { width: calc(20% - 22px); }
.memberInfo #mobile2,
.memberInfo #mobile3 { width: 22%; margin-left: 0 5px; }

.container .btnWrap { margin: 30px 0; }

@media screen and (max-width: 768px) {
    .p120 { padding-top: 15px !important; }
    .memberInfo .check label span { font-size: 12px; }

    .memberInfo #mobile1 { width: calc(30% - 23px); }
    .memberInfo #mobile2,
    .memberInfo #mobile3 { width: 35%; margin-left: 0 5px; }
}
