.container .titleWrap { padding-bottom: 15px; }

.memberInfo { border-top: 2px solid #d6254a; border-bottom: 2px solid rgba(0,0,0,.2); padding: 30px 0; }
.memberInfo p span { font-size: 16px; color: #d6254a; }
.memberInfo label { display: block; }
.memberInfo br { display: none; }
.memberInfo label input { display: none; }
.memberInfo label .id { color: #d6254a; }
.memberInfo label .gaip { float: right; }

.btnWrap { margin: 30px 0; }
