.nav-pills { margin-bottom: 35px; }
.nav-pills .nav-link { background-color: #f0f0f0; color: #8c8c8c; border-radius: 0; padding: 10px 0; font-size: 16px; font-weight: 500; }
.nav-pills .nav-link.active { background-color: #fff; color: #333; }

#pills-login input { height: 44px; margin-bottom: 20px; border-radius: 0; }
#pills-login .btnWrap { padding: 15px 0; }
#pills-login .btnWrap .row { margin-top: 20px; }

.snsLogin a { font-size: 12px; color: #7f7f7f; line-height: 28px; }
.snsLogin figure { display: block; overflow: hidden; height: 30px; width: 35px; margin-right: 20px; float: left; }
.snsLogin figure img {
    display: block; /* Otherwise it keeps some space around baseline */
    min-width: 100%; /* Scale up to fill container width */
    min-height: 100%; /* Scale up to fill container height */
    -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}
h5 .btnLine { border: 2px solid #ccc; }

@media screen and (max-width: 768px) {
    h2 { padding: 30px 0; }

    .nav-pills { margin: 15px 0 35px; }
    .nav-pills .nav-link { background-color: #f0f0f0; color: #8c8c8c; border-radius: 0; padding: 10px 0; font-size: 16px; font-weight: 500; }
    .nav-pills .nav-link.active { background-color: #fff; color: #333; }

    #pills-login input { height: 36px; margin-bottom: 12px; }
    #pills-login .btnWrap { padding: 15px 0; }
    #pills-login .btnWrap .row { margin-top: 20px; }

    #pills-login .btnWrap .row { padding: 0 5px; }
    #pills-login .btnWrap .row .col-6 { padding: 0 10px; }

    #pills-login .snsLogin { margin: 30px 0; }
    #pills-login .snsLogin .col-6 { padding: 0; }
    #pills-login .snsLogin .col-6:nth-child(2n) { padding-left: 15px; }

    #pills-login h5 { margin-bottom: 30px; }
}
