.xans-myshop-addrlist .tableWrap { margin-top: 70px; border-top: 0;  }
.xans-myshop-addrlist .tableWrap table tr td { text-align: right; }

@media screen and (max-width: 768px) {
    .myPage .xans-myshop-addrlist .tableWrap { margin-top: 50px;  }
    .container .p120 { padding: 0; }
    .btnWrap { margin: 30px 0; }
}
