.xans-myshop-orderhistorytab .subTitle { color: #7f7f7f; }
.xans-myshop-orderhistorytab .subTitle:hover { transition: .5s; color: #333; }
.xans-myshop-orderhistorytab .selected .subTitle { color: #333; }

.xans-myshop-orderhistorylistitem .tableWrap { margin-top: 70px; border-top: 0; }
.xans-myshop-orderhistorylistitem .tableWrap table tr th { padding: 25px 0; }
.xans-myshop-orderhistorylistitem .tableWrap table tr td { padding: 16px 0; }


@media screen and (max-width: 768px) {
    .xans-myshop-orderhistorylistitem .tableWrap { margin-top: 50px; }

}
