.xans-myshop-orderhistorytab { line-height:1.5; }
.xans-myshop-orderhistorytab ul { border:1px solid rgba(0,0,0,.1); border-bottom: 2px solid #d6254a; border-left:0; *zoom:1; }
.xans-myshop-orderhistorytab ul:after { content:""; display:block; clear:both; }
.xans-myshop-orderhistorytab li { float:left; }
.xans-myshop-orderhistorytab li a { display:block; min-width:160px; height:34px; padding:0 15px; border-right:1px solid rgba(0,0,0,.1); border-left:1px solid rgba(0,0,0,.1); color: rgba(0,0,0,.6); line-height:34px; text-decoration:none; text-align:center; }
.xans-myshop-orderhistorytab li.selected a { border:1px solid #d6254a; color:#fff; font-weight: 500; background:#d6254a; }