.xans-myshop-orderhistorydetail .orderArea { margin-top: 50px; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap { padding: 5px 0; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr:last-child { border-bottom: 1px solid #8c8c8c; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr th { width: 20%; padding: 8px 0; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr td { width: 80%; padding: 8px 0; color: #7f7f7f; vertical-align: top; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr td span { font-size: 14px; color: #7f7f7f; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr td p { font-size: 14px; color: #7f7f7f; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr td.state { vertical-align: middle; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr td.state p { font-size: 14px; }
.xans-myshop-orderhistorydetail .orderArea .tableWrap tr th img { width: 80px; }

/* 총 주문금액 상세내역 레이어 */
.xans-myshop-orderhistorydetail .totalDetail { display:none; position:absolute; z-index:100; width:300px; color:#757575; }
.xans-myshop-orderhistorydetail .totalDetail h3 { height:35px; padding:0 35px 0 19px; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.xans-myshop-orderhistorydetail .totalDetail .content { padding:20px; border:1px solid #757575; border-top:0; background:#fff; }
.xans-myshop-orderhistorydetail .totalDetail .close { position:absolute; right:20px; top:10px; }
.xans-myshop-orderhistorydetail .totalDetail .close img { cursor:pointer; }

.xans-myshop-orderhistorydetail .totalDetail .content p { color:#008bcc; font-size:16px; font-weight:bold; font-family:verdana, sans-serif; text-align:right; }
.xans-myshop-orderhistorydetail .totalDetail .content ul { line-height:25px; }
.xans-myshop-orderhistorydetail .totalDetail .content li { overflow:hidden; padding:0 0 0 6px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_info2.gif") no-repeat 0 10px; *zoom:1; }
.xans-myshop-orderhistorydetail .totalDetail .content li:first-child { margin:8px 0 0; padding-top:6px; border-top:1px dotted #b0b1b3; background-position:0 16px; }
.xans-myshop-orderhistorydetail .totalDetail .content li strong { float:left; font-weight:normal; }
.xans-myshop-orderhistorydetail .totalDetail .content li span { float:right; }

/* 취소/교환/반품 상세정보 레이어 */
.csDetail { overflow:hidden; position:fixed; top:50%; left:50%; z-index:100; width:450px; margin:-250px 0 0 -225px; color:#757575; }
.csDetail h1 { height:35px; padding:0 35px 0 19px; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.csDetail .content { overflow:auto; overflow-x:hidden; max-height:400px; padding:20px; border-right:1px solid #757575; border-left:1px solid #757575; background:#fff; }
.csDetail .close { position:absolute; right:20px; top:10px; }
.csDetail .close img { cursor:pointer; }
.csDetail .btnArea { margin:0; padding:9px 0; border:1px solid #757575; border-top:1px solid #d7d5d5; text-align:center; background:#fbfafa; }
.csDetail .btnArea a:first-child img { margin-left:1px; }
.csDetail .btnArea img { margin:0 1px 0 0; }

.csDetail .prdInfo { padding:10px 10px 5px; border:1px solid #e8e5e4; background:#fff8f5; }
.csDetail .prdInfo h2 { color:#353535; font-size:12px; }
.csDetail .prdInfo p,
.csDetail .prdInfo ul > li { margin:9px 0 5px; color:#757575; line-height:16px; }
.csDetail .prdInfo ul > li > strong { display:block; color:#353535; }

.csDetail .csArea { margin:0 0 20px; }
.csDetail .csArea h3 { margin:25px 0 7px; color:#353535; font-size:12px; }
.csDetail .csArea .boardCS { border:1px solid #d7d5d5; }
.csDetail .csArea .boardCS table { table-layout:fixed; color:#353535; line-height:1.5; }
.csDetail .csArea .boardCS th { width:100px; padding:11px 0 10px 19px; border-top:1px solid #e9e9e9; border-right:1px solid #e9e9e9; font-weight:normal; text-align:left; background:#fbfafa; }
.csDetail .csArea .boardCS td { width:auto; padding:9px 0 8px 10px; border-top:1px solid #e9e9e9; word-wrap:break-word; }
.csDetail .csArea .boardCS tbody tr:first-child th,
.csDetail .csArea .boardCS tbody tr:first-child td { border-top:0; }
.csDetail .csArea .boardCS img { vertical-align:middle; }

@media screen and (max-width: 768px) {
    .xans-myshop-orderhistorydetail .orderArea { margin-top: 30px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap { padding: 5px 0; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr th { width: 40%; padding: 5px 0; font-size: 12px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr td { width: 60%; padding: 5px 0; font-size: 12px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr td p { font-size: 12px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr td span { font-size: 12px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr td.state p { font-size: 12px; }
    .xans-myshop-orderhistorydetail .orderArea .tableWrap tr th img { width: 80px; }

    .xans-myshop-orderhistorydetail .btnWrap .btn3 { font-size: 12px; padding: 8px; }
}
