/* CATEGORY TAB NAV */
.chapternav { overflow: hidden; position: fixed; top: 48px; background-color: #fff; border-bottom: 1px solid #ccc; text-align: center; width: 100%; height: 80px; z-index: 5; }
.chapternav .chapternav-wrapper { position: relative; height: 100%; z-index: 1; }
.chapternav .chapternav-wrapper .nav { display: block; }
.chapternav .chapternav-items { margin: 0 30px; padding-bottom: 50px; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; white-space: nowrap; }
.chapternav .chapternav-item { -webkit-animation: chapternav-slidein 350ms backwards; animation: chapternav-slidein 350ms backwards; display: inline-block; padding: 5px 20px; }
.chapternav .chapternav-icon { margin-bottom: 0px; opacity: .4; }
.chapternav .chapternav-icon img { height: 40px; margin: 5px 0; }
.chapternav .chapternav-label { display: block; font-size: 12px; opacity: .4; }
.chapternav .chapternav-item .active .chapternav-icon { opacity: 1; }
.chapternav .chapternav-item .active .chapternav-label { width: 100%; border-bottom: 2px solid #d6254a; padding-bottom: 3px; text-decoration: none; font-weight: 500; opacity: 1; }

/* CATEGORY TAB NAV */
#myTabContent { margin-top: 128px; }
#myTabContent .listHeader { height: 480px; background-size: cover; background-repeat: no-repeat; background-position: center; text-align: center; }
#myTabContent .listHeader h1 { color: #fff; padding: 50px 0; }
#myTabContent .listHeader h3 { color: #fff; padding: 50px 0; }
#myTabContent .listHeader h4 { color: #fff; }
#myTabContent .listHeader img { width: 36px; margin: 0 40px; }
#myTabContent .listFooter img { width: 100%; }

/* CATEGORY TAB PANEL */
#myTabContent .listWrap { background-color: #F0F0F0; padding-bottom: 70px; margin-bottom: 120px; }
#myTabContent .listWrap .listIntro { text-align: center; padding: 70px 0; color: #7f7f7f; font-weight: 400; }
#myTabContent .listWrap .item { padding: 0 10px 40px; }
#myTabContent .listWrap .box { background-color: #fff; padding: 12px; box-shadow: 5px 5px 3px #CBCBCB; }
#myTabContent .listWrap .box img { width: 100%;  }
#myTabContent .listWrap .box .boxInfo { padding: 20px 0 10px; }
#myTabContent .listWrap .box .boxInfo .clearfix h6:first-child span { display: block; padding: 10px 15px 20px 0; word-break: keep-all; }
#myTabContent .listWrap .box .boxInfo .clearfix .priceCut span { font-size: 14px !important; color: #7f7f7f !important; font-weight: 400 !important; position: absolute; left: 20px; bottom: 80px; }


.endPoint { padding: 120px 0; text-align: center;}
.endPoint h2 { padding-bottom: 75px; }

@media screen and (max-width: 768px) {
    /* CATEGORY TAB NAV */
    .chapternav { height: 60px; }
    .chapternav .chapternav-item { padding: 10px; }
    .chapternav .chapternav-icon img { height: 24px; margin: 0; }
    .chapternav .chapternav-label { font-size: 10px; padding-top: 5px; }
    .chapternav .chapternav-item .active .chapternav-label { padding-bottom: 3px; }
    .chapternav-paddle { border: 0 solid rgba(255,255,255,0.2); background-color: #fff; position: absolute; top: 0; bottom: 0; width: 35px; -webkit-transition: opacity 150ms ease-out; transition: opacity 150ms ease-out; }
    .chapternav-paddle img { width: 12px; opacity: .8; }
    .chapternav-paddle-left { border-right-width: 1px; left: 0; }
    .chapternav-paddle-right { border-left-width: 1px; right: 0; }

    /* CATEGORY TAB NAV */
    #myTabContent { margin-top: 108px; }
    #myTabContent .listHeader { height: 280px; }
    #myTabContent .listHeader h1 { padding: 20px 0 30px; }
    #myTabContent .listHeader h3 { padding: 20px 0; font-size: 20px; }
    #myTabContent .listHeader h4 { font-size: 14px; font-weight: 400; }
    #myTabContent .listHeader img { width: 18px; margin: 0 15px; }

    /* CATEGORY TAB PANEL */
    #myTabContent .listWrap { padding: 0 10px 20px; margin-bottom: 0px; }
    #myTabContent .listWrap .listIntro { padding: 50px 0; }
    #myTabContent .listWrap .item { padding: 0 5px 20px; }
    #myTabContent .listWrap .box { padding: 8px; }
    #myTabContent .listWrap .box .boxInfo { padding: 15px 0 10px; }
    #myTabContent .listWrap .box .boxInfo h6 { padding: 0; }
    #myTabContent .listWrap .box .clearfix { padding-top: 15px; }
    #myTabContent .listWrap .box .boxInfo .clearfix h6:first-child span { display: none; }
    #myTabContent .listWrap .box .d-md-none a span { font-size: 14px !important; padding-bottom: 10px; font-weight: 500; }
    #myTabContent .listWrap .box .d-md-none .float-left span { font-size: 12px !important; color: #7f7f7f !important; font-weight: 400 !important; }
    #myTabContent .listWrap .box .boxInfo .clearfix .priceCut span { font-size: 10px !important; left: 13px; bottom: 50px; }

    #myTabContent .listFooter img { padding: 0; }
    .endPoint { padding: 50px 0; text-align: center;}
    .endPoint h2 { padding-bottom: 25px; }

}
@media screen and (max-width: 350px) {
    #myTabContent .listWrap .box .clearfix .btnDetail { padding: 2px 5px; } /* iPhone5SE 에서 깨져서 조정 */
}
