@charset "utf-8";
/* NAVIGATION */
.navbar { background-color: #d6254a; padding: .6rem 0; height: 48px; }
.navbar-logo { width: 120px; }
.navbar .navbar-cart { width: 20px; }
.navbar .navbar-user { width: 24px; }

/* FOOTER */
#bottom { background-image: url('/img/footerBG.png'); padding: 40px 0;}
#bottom .footerNav { padding-bottom: 15px; margin-bottom: 30px; color: #fff; border-bottom: 1px solid #8c8c8c; }
#bottom .footerNav a { padding-right: 80px; }
#bottom .footerInfo { padding-bottom: 20px; }
#bottom .footerInfo span { color: #7f7f7f; padding-right: 30px; }

/* MAIN */
.mainWrap { background-color: #333; color: #fff; padding: 30px 0 120px; text-align: center; }
.mainWrap h1 { color: #fff; padding: 75px 15px; }
.mainWrap h6 { color: #fff; line-height: 35px; }
.mainIcon { text-align: center; }
.mainIcon img { width: 100%; }
.mainIcon .sideImg { width: 63%; }
.mainInfo { text-align: center; }

/* BUTTON */
.btnBasic { background-color: #d6254a; color: #fff; font-size: 16px; }
.btnBasic:hover { color: #fff; }
.btn100 { display: block; text-align: center; padding: 10px; }
.btn1 { padding: 10px 135px; }
.btn2 { padding: 10px 50px; }

.btnDetail { border-radius: 50px; font-size: 11px; font-weight: 400; padding: 4px 15px; }

/* TABLE */
.titleWrap { padding-bottom: 25px; }
.inputWrap input { width: 30px; height: 30px; }
.nodata { border-top: 2px solid #333; border-bottom: 1px solid #8c8c8c; padding: 40px 0; text-align: center; }

/* PAGINATE */

/* MODAL */
.modal-dialog { margin: 0; }
.modal-dialog .modal-content { border-radius: 0; border: 0; }

/* 공통레이아웃 css*/
#sub_container { margin-top: 48px; }

.textBlack { color: #333; }
.textGray { color: #7f7f7f; }
.textRed { color: #d6254a; }

h1 { font-size: 56px; font-weight: 700; }
h2 { font-size: 45px; font-weight: 700; }
h3 { font-size: 34px; font-weight: 500; }
h4 { font-size: 20px; font-weight: 500; }
h5 { font-size: 16px; font-weight: 500; }
h6 { font-size: 14px; font-weight: 500; }
p { font-size: 16px; font-weight: 400; }
span { font-size: 14px; font-weight: 400; }

.p120 { padding-top: 120px; padding-bottom: 120px; }
.p70 { padding-top: 70px; padding-bottom: 70px; }
.p45 { padding-top: 45px; padding-bottom: 45px; }
.m120 { margin-top: 120px; margin-bottom: 120px; }
.m70 { margin-top: 70px; margin-bottom: 70px; }
.m45 { margin-top: 45px; margin-bottom: 45px; }




@media screen and (max-width: 768px) {
    /* NAVIGATION */
    .navbar-logo { width: 100px; }
    .navbar .navbar-cart { width: 18px; }

    /* FOOTER */
    #bottom { padding: 20px 0;}
    #bottom .footerNav { padding-left: 15px; padding-bottom: 15px; margin-bottom: 15px;
        position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between;
    }
    #bottom .footerNav a { font-size: 12px; padding-right: 0; }
    #bottom .footerInfo { padding: 20px 15px; }
    #bottom .footerInfo span { padding-right: 15px; }

    /* BUTTON */
    .btn1 { display: block; padding: 10px 0px; }
    .btnDetail { font-size: 10px; padding: 2px 10px; }

    /* 공통레이아웃 css*/
    h1 { font-size: 40px; }
    h2 { font-size: 34px; }
    h3 { font-size: 30px; }
    h4 { font-size: 18px; }
    h5 { font-size: 14px; }
    h6 { font-size: 12px; }
    p { font-size: 14px; }
    span { font-size: 12px; }

    .p120 { padding-top: 50px; padding-bottom: 50px; }
    .p70 { padding-top: 30px; padding-bottom: 30px; }
    .p45 { padding-top: 20px; padding-bottom: 20px; }
    .m120 { margin-top: 50px; margin-bottom: 50px; }
    .m70 { margin-top: 30px; margin-bottom: 30px; }
    .p45 { margin-top: 20px; margin-bottom: 20px; }
}
