@charset "utf-8";
/* NAVIGATION */
.navbar { background-color: #d6254a; padding: .6rem 0; height: 48px; }
.navbar-brand { margin: 0; }
.navbar-logo { width: 120px; }
.navbar .navbar-cart { width: 20px; }
.navbar .navbar-user { width: 24px; }
.basketCount { background-color: #fff; color: #d6254a; border-radius: 50%;position: relative; top: -7px; left: -7px; padding: 0 5px; font-size: 10px; font-weight: 500; }

.subNav { width: 100%; height: 48px; position: fixed; top: 48px; background-color: #fff; border-bottom: 1px solid #8c8c8c; text-align: center; z-index: 1; padding: 8px; z-index: 1050; }
.subNav .back { width: 18px; float: left; margin: 6px 0; }
.subNav .next { width: 18px; margin: 0px 25px 3px; }
.subNav span { font-size: 16px; }
#layer { z-index: 1051 !important; }

/* FOOTER */
#wraper { min-height: calc(100vh - 260px); }
#bottom { width: 100%; background-image: url('/img/footerBG.png'); background-size: cover; padding: 40px 0;}
#bottom .footerNav { padding-bottom: 15px; margin-bottom: 30px; color: #fff; border-bottom: 1px solid #8c8c8c; }
#bottom .footerNav a { padding-right: 80px; }
#bottom .footerInfo { padding-bottom: 20px; }
#bottom .footerInfo span { color: #7f7f7f; padding-right: 30px; }


/* MY PAGE */
.xans-myshop-benefit .titleWrap h3 span { font-size: 34px; font-weight: 500; }
.xans-myshop-benefit .titleWrap .btnSmall { margin-top: 10px; }
.xans-myshop-benefit .nav .nav-item { width: 64%; border-bottom: 1px solid #d6d6d6; }
.xans-myshop-benefit .nav .nav-item:first-child { border-top: 1px solid #d6d6d6; }
.xans-myshop-benefit .nav .nav-item .nav-link { font-size: 16px; font-weight: 500; padding: 10px 0 10px 15px; }
.xans-myshop-benefit .nav .nav-item .nav-link:hover { color: #d6254a; }
.xans-myshop-benefit .nav .nav-item .active { background-color: #d6254a; color: #fff; border: 0; }
.xans-myshop-benefit iframe { border: 0; width: 100%; height: 320px; margin: 15px 0; }

.myPage .tableWrap .clearfix { padding: 10px 0; }
.myPage .tableWrap .clearfix .float-left input { margin-bottom: 5px; margin-right: 10px; }
.myPage .tableWrap .clearfix .float-left span { font-size: 18px; font-weight: 700; }
.myPage .tableWrap .clearfix .float-right { font-size: 16px; color: #d6254a; }
.myPage .tableWrap table { border-top: 2px solid #8c8c8c; }
.myPage .tableWrap table th { padding: 10px 0; font-size: 16px; font-weight: 500; }
.myPage .tableWrap table td { padding: 10px 0; }
.myPage .tableWrap table td span { font-size: 16px; color: #7f7f7f; }
.myPage .tableWrap table tr:last-child { border-bottom: 1px solid #8c8c8c; }

.myPage .tableWrap .thumb { width: 100px; }
.myPage .tableWrap .thumb img { width: 80px; }
.myPage .tableWrap .product { vertical-align: top; }


/* TITLE */
.titleWrap { padding-bottom: 5px; }
.titleWrap .btn2 { margin-top: 15px; }
.titleWrap .float-right { margin-top: 20px; }
.titleWrap .float-right a { margin-left: 10px; }

.brRed { border-bottom: 2px solid #d6254a; }
.brBlack { border-bottom: 2px solid #333; }


/* FORM */
.formWrap { margin: 30px 0; }
.form-group { margin-bottom: 20px; }
.form-group label { width: 100%; display: block; margin-bottom: 5px; font-weight: 500; }
.form-group input { height: 44px; width: 64%; display: inline; padding-left: 10px; border: 1px solid #d6d6d6; border-radius: 0; }
.form-group select { height: 44px; border: 1px solid #d6d6d6; padding: 0.5em 2.5em 0.5em 0.5em; background-position: calc(100% - 20px) calc(1em + 5px),calc(100% - 16px) calc(1em + 5px),calc(100% - 2.5em) 0.8em; }
.form-group select:focus { background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.8em !important; }
.form-group span { color: #7f7f7f; font-size: 12px; line-height: 28px; }
.form-group .btnGray { position: relative; }


/* TABLE */
.tableWrap { border-top: 2px solid #d6254a; }
.tableWrap h4 { padding-bottom: 5px; }
.tableWrap img { max-width: 100%; }
.tableWrap table tr { border-bottom: 1px solid #d6d6d6; }

.quantity { display: flex; justify-content: flex-end; }
.quantity .option_box_down { opacity: 0; border: 0; position: relative; top: -6px; left: -6px; }
.quantity .option_box_up { opacity: 0; border: 0; position: relative; top: -6px; left: -6px; }
.quantity img { height: 30px; width: 30px; border: 1px solid #d6d6d6; padding: 5px; }
.quantity input { order: 2; width: 30px; height: 30px; text-align: center; border: 1px solid #d6d6d6; }
.quantity a:nth-child(2) { order: 3; width: 30px; height: 30px; border: 1px solid #d6d6d6; padding: 5px; background-image: url(/svg/plus.svg); background-position: center center; background-repeat: no-repeat; }
.quantity a:nth-child(3) { order: 1; width: 30px; height: 30px; border: 1px solid #d6d6d6; padding: 5px; background-image: url(/svg/minus.svg); background-position: center center; background-repeat: no-repeat; }

.moreInfo .infoHeader { padding: 10px 0; border-bottom: 1px solid #d6d6d6; }
.moreInfo .infoHeader a { color: #d6254a; font-size: 16px; font-weight: 400; text-align: right; }
.moreInfo .infoBody { padding: 5px 0 10px; border-bottom: 1px solid #d6d6d6; }
.moreInfo .infoBody .row { padding: 10px 0; }
.moreInfo .infoBody .row span { color: #7f7f7f; }

.nodata { border-bottom: 1px solid #8c8c8c; padding: 40px 0; text-align: center; }


/* BUTTON */
.btnBasic { background-color: #d6254a; color: #fff; font-size: 16px; }
.btnBasic:hover { color: #fff; }
.btnGray { background-color: #707070; color: #fff; font-size: 16px; }
.btnGray:hover { color: #fff; }
.btnLine { border: 1px solid #d6d6d6; color: #7f7f7f; font-size: 16px; font-weight: 500; }
.btnLine:hover { border-color: #d6254a; color: #d6254a; }
.btn1 { padding: 10px 135px; }
.btn2 { padding: 10px 60px; }
.btn3 { padding: 10px 28px; }
.btn100 { display: block; text-align: center; padding: 10px; }
.btnSmall { font-size: 14px; padding: 8px 15px; }
.btnDetail { border-radius: 50px; font-size: 11px; font-weight: 400; padding: 4px 15px; }


/* 공통레이아웃 css*/
#sub_container { margin-top: 48px; }
.imgWrap img { width: 100%; }

.textBlack { color: #333; }
.textWhite { color: #fff; }
.textGray { color: #7f7f7f; }
.textRed { color: #d6254a; }

h1 { font-size: 56px; font-weight: 700; }
h2 { font-size: 45px; font-weight: 700; }
h3 { font-size: 34px; font-weight: 500; }
h4 { font-size: 20px; font-weight: 500; }
h5 { font-size: 16px; font-weight: 500; }
h6 { font-size: 14px; font-weight: 500; }
p { font-size: 16px; font-weight: 400; }
span { font-size: 14px; font-weight: 400; }

.p120 { padding-top: 120px; padding-bottom: 120px; }
.p70 { padding-top: 70px; padding-bottom: 70px; }
.p45 { padding-top: 45px; padding-bottom: 45px; }
.p25 { padding-top: 25px; padding-bottom: 25px; }
.m120 { margin-top: 120px; margin-bottom: 120px; }
.m70 { margin-top: 70px; margin-bottom: 70px; }
.m45 { margin-top: 45px; margin-bottom: 45px; }
.m25 { margin-top: 25px; margin-bottom: 25px; }




@media screen and (max-width: 768px) {
    /* NAVIGATION */
    .navbar-logo { width: 100px; }
    .navbar .navbar-cart { width: 18px; }


    /* FOOTER */
    #bottom { padding: 20px 0;}
    #bottom .footerNav { padding-left: 15px; padding-bottom: 15px; margin-bottom: 15px;
        position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between;
    }
    #bottom .footerNav a { font-size: 12px; padding-right: 0; }
    #bottom .footerInfo { padding: 20px 15px; }
    #bottom .footerInfo span { padding-right: 15px; }


    /* PRODUCT NAV */
    .subNav { height: 40px; }
    .subNav h4 { line-height: 1.2; }
    .subNav .back {  width: 16px; margin: 4px 0; }
    .subNav .next { display: none; }
    .subNav span { display: none; }


    /* MY PAGE */
    .xans-myshop-benefit .nav { margin-top: 10px; margin-bottom: 50px; }
    .xans-myshop-benefit .nav .nav-item { width: 100%; }
    .xans-myshop-benefit .nav .nav-item .nav-link { font-size: 14px; padding: 10px 0; }
    .xans-myshop-benefit .titleWrap { padding-bottom: 5px; }
    .xans-myshop-benefit .titleWrap h3 span { font-size: 28px; }
    .xans-myshop-benefit .myPage .titleWrap h3 { font-size: 28px; }

    .myPage .tableWrap { margin-top: 20px; }
    .myPage .tableWrap .clearfix .float-right { font-size: 14px; padding-top: 3px; }
    .myPage .tableWrap table th { font-size: 14px; }
    .myPage .tableWrap table td span { font-size: 14px; }


    /* TITLE */
    .titleWrap { margin-top: 30px; }
    .titleWrap .float-right { margin-top: 5px; }
    .titleWrap .float-right a { margin-left: 15px; }


    /* FORM */
    .formWrap { margin: 15px 0; }
    .form-group { margin-bottom: 20px; }
    .form-group label { font-size: 12px; }
    .form-group input { height: 36px; width: 100%; font-size: 12px; }
    .form-group select { height: 36px; background-position: calc(100% - 13px) calc(1em + 3px),calc(100% - 8px) calc(1em + 3px),calc(100% - 2em) 0.7em; font-size: 12px; }
    .form-group select:focus { background-position: calc(100% - 8px) 1em, calc(100% - 13px) 1em, calc(100% - 2em) 0.7em !important; }
    .form-group span { font-size: 11px; }


    /* TABLE */
    .moreInfo .infoHeader { padding: 5px 0; }
    .moreInfo .infoHeader a { font-size: 14px; }
    .moreInfo .infoBody { padding: 5px 0; }
    .moreInfo .infoBody .row { padding: 5px 0; }

    .nodata { padding: 20px 0; }


    /* BUTTON */
    .btn1 { display: block; padding: 10px 0px; }
    .btn2 { padding: 8px 28px; font-size: 14px; }
    .btn3 { padding: 8px 18px; font-size: 14px; }
    .btn100 { padding: 8px; font-size: 14px; }
    .btnSmall { font-size: 12px; padding: 6px 11px; }
    .btnDetail { font-size: 10px; padding: 2px 10px; }


    /* 공통레이아웃 css*/
    h1 { font-size: 40px; }
    h2 { font-size: 34px; }
    h3 { font-size: 30px; }
    h4 { font-size: 18px; }
    h5 { font-size: 14px; }
    h6 { font-size: 12px; }
    p { font-size: 14px; }
    span { font-size: 12px; }

    .p120 { padding-top: 50px; padding-bottom: 50px; }
    .p70 { padding-top: 30px; padding-bottom: 30px; }
    .p45 { padding-top: 20px; padding-bottom: 20px; }
    .p25 { padding-top: 10px; padding-bottom: 10px; }
    .m120 { margin-top: 50px; margin-bottom: 50px; }
    .m70 { margin-top: 30px; margin-bottom: 30px; }
    .m45 { margin-top: 20px; margin-bottom: 20px; }
    .m25 { margin-top: 10px; margin-bottom: 10px; }
}
