.xans-board-read-9 .subject th { padding-top: 15px; padding-bottom: 10px; }
.xans-board-read-9 .borderDiv { border-top: 2px solid #8c8c8c; border-bottom: 1px solid #d6d6d6; }
.xans-board-read-9 .borderDiv td { padding: 25px 0; }
.xans-board-read-9 .view { background-color: #f0f0f0; }
.xans-board-read-9 .view td { padding: 15px; }
.xans-board-read-9 .view td p { padding: 15px 0; color: #7f7f7f; }
.xans-board-read-9 .view td img { max-width: 100%; }
.xans-board-read-9 .nodata { background-color: #f0f0f0; padding-bottom: 50px; }
