.xans-board-write-4 .tableWrap th { width: 15%; }
.xans-board-write-4 .tableWrap td { width: 85%; }
.xans-board-write-4 .tableWrap td input { width: 100%; }

#board_category { width: 25%; }
#subject { width: 70%; float: right; }
.seLayout { border: 0px !important; }

@media screen and (max-width: 768px) {
    .xans-board-write-4 .tableWrap th { width: 10%; }
    .xans-board-write-4 .tableWrap td { width: 90%; }
    #board_category { width: 32%; }
    #subject { width: 64%; float: right; }
}